// Basic setting
@mixin left {float: left;}
@mixin right {float: right;}
@mixin clear {@include clearfix;}
@mixin none {display: none;}
@mixin block {display: block;}

@mixin bold {font-weight: bold;}
@mixin normal {font-weight: normal;}
@mixin light {font-weight: 100;}
@mixin light-2 {font-weight: 200;}

.none {@include none;}
.clear {clear: both;}

// Color variables
$white: #fff;
$black: #010103;
$ccc: #ccc;

// Basic
$primary: #3d70a5;
$secondary: #7bc277;
$header: #363636;
$oil: #333;
$smoke: #eee;
$filter: #d05050;
$jet: #363636;
$column: #F2F2F2;
$bg_lodge: #FCFCFC;
$border: #d3d3d3;

// Alerts
$good: #79BD50;
$bad: #D05050;
$alert: #f2d84b;
$red: $bad;

// Top bar styles
.contain-to-grid {z-index: 99;}
.top-bar {
    background: transparent;
    .top-bar-section li {
        background: transparent;
        a {
            text-transform: uppercase;
            text-shadow: 0 1px 0 rgba($black, 0.5);
        }
        &:hover {
            background: rgba($oil, 0.5);
        }
    }
}

// Style for all sections
#servicios, #contacto {
    margin: 5em 0;
}

// Slider
#slider {
    margin-top: -75px;
    padding: 10em 0 5em;
    background: url("../images/landing_bg.jpg") no-repeat center top;
    z-index: 1;
}

// Inteligencia
#inteligencia {
    padding: 5em 0;
    background-color: $white;
    border-bottom: 1px solid $border;
}

// Contacto
#contacto {
    position: relative;
    .google_map {}
    .over_map {
        position: absolute;
        width: 100%;
        top: 10px;
        z-index: 99;
    }
}

// Frame = 1195 + 475 = 1670
// Handlebar = 295 + 134 + 56 = 485
// Grupo = 619 + 390 + 737 + 90 + 88 + 230 + 276 + 265 + 310 = 2967
// Ruedas = 1670 + 100 + 590 = 2360
// Total = 7482
