// Basic setting
@mixin left {float: left;}
@mixin right {float: right;}
@mixin clear {@include clearfix;}
@mixin none {display: none;}
@mixin block {display: block;}

@mixin bold {font-weight: bold;}
@mixin normal {font-weight: normal;}
@mixin light {font-weight: 100;}
@mixin light-2 {font-weight: 200;}

.none {@include none;}
.clear {clear: both;}

// Color variables
$white: #fff;
$black: #010103;
$ccc: #ccc;

// Basic
$primary: #3d70a5;
$secondary: #7bc277;
$header: #363636;
$oil: #333;
$smoke: #eee;
$filter: #d05050;
$jet: #363636;
$column: #F2F2F2;
$bg_lodge: #FCFCFC;
$border: #d3d3d3;

// Alerts
$good: #3BA656;
$bad: #D05050;
$alert: #f2d84b;
$red: $bad;

// Function to make a custom button, don't necessary in this case
@mixin basic-button($bg-color:$primary-color, $text-color: $white, $size: 14, $padding: 35) {
    background: $bg-color;
    color: $text-color;
    font-size: rem-calc($size);
    box-shadow: inset 0 -2px 0 darken($bg-color, 20%);
    padding: rem-calc(11) rem-calc($padding) rem-calc(12);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    &:hover {
        background: darken($bg-color, 5%);
        box-shadow: inset 0 -2px 0 darken($bg-color, 20%);
    }
}

// Button's
.button.more, .button.mail {
    @include light-2;
    font-weight: normal;
    background: rgba($good, 0.5);
    border: 1px solid $good;
    color: darken($white, 10%);
    &:hover {
        color: $white;
        background: darken($good, 5%);
        box-shadow: 0 1px 2px rgba($black, 0.5);
    }
}

.button.mail {
    background: $good;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    i {margin-right: 10px}
    &:hover {
        background: darken($good, 5%);
        box-shadow: 0 1px 2px rgba($black, 0.25);
    }
}

// Top bar styles
.contain-to-grid {z-index: 99;}
.top-bar {
    background: transparent;
    .top-bar-section li {
        background: transparent;
        a {
            @include light-2;
            font-size: rem-calc(14);
            text-transform: uppercase;
            text-shadow: 0 1px 0 rgba($black, 0.5);
        }
        &:hover {
            background: rgba($oil, 0.5);
        }
    }
   .top-bar-section .has-form {
        .button {
            // line-height: 65px;
            // text-transform: none;
            background: $good;
            margin-top: 5px;
            padding: 13px 20px;
            &:hover {
                background: darken($good, 5%);
            }
        }
        &:hover {
            background: transparent;
        }
    }
}

// Style for all sections
#servicios, #contacto {
    margin: 5em 0 3em;
}

// Slider
#slider {
    margin-top: -75px;
    padding: 10em 0 5em;
    background: url("../images/landing_bg.jpg") no-repeat center top;
    z-index: 1;
    text-align: center;
    h5, h1, p {
        color: $white;
        text-shadow: 0 1px 2px rgba($black, 0.4);
    }
    h5 {
        @include light-2;
        color: darken($white, 15%);
        font-size: rem-calc(20);
        text-transform: uppercase;
        margin-bottom: 0.5em;
    }
    h1 {
        font-size: rem-calc(55);
    }
    p{
        @include light-2;
        margin: 0 8em;
        margin-bottom: 2em;
        font-size: rem-calc(20);
    }
    .button {margin-bottom: 0;}
}

// Inteligencia
#inteligencia {
    padding: 0 0 4em;
    background-color: $white;
    border-bottom: 1px solid $border;
    .arrow {
        text-align:  center;
        margin: -1.5em 0 3em;
        a {
            font-size: rem-calc(35);
            text-shadow: 0 2px 1px rgba($black, 0.8);
            background-color: $oil;
            border-radius: 100px;
            padding: 0;
            width: 45px;
            height: 45px;
            line-height: 45px;
        }
    }
    blockquote {
        border-left: 2px solid $oil;
    }
}

// Servicios
#servicios {
    h3 {font-size: rem-calc(22);}
    p {font-size: rem-calc(14);}
    .loop {margin-bottom: 2em;}
}

// Contacto
#contacto {
    position: relative;
    margin-bottom: 1em;
    .google_map {}
    .over_map {
        position: absolute;
        width: 100%;
        top: 75px;
        z-index: 99;
        .margin {
            background: rgba($white, 0.8);
            border-radius: $global-radius;
            box-shadow: 0 1px 2px rgba($black, 0.2);
            padding: 2.5em;
            text-align: center;
            .button {
                margin: 1em 0 2em;
            }
            .leyend {
                font-size: rem-calc(13);
                margin-bottom: 0;
            }
        }
    }
}

footer {
    text-align: center;
    p {font-size: rem-calc(13);}
}

// Small screen
@media only screen and (max-width: 40em) {
    #slider {
        padding: 8em 0 4em;
        h1 {
            line-height: 1.3;
            font-size: rem-calc(35);
        }
        p {
            margin: 0;
            font-size: rem-calc(16);
            margin-bottom: 1em;
        }
        .button {
            font-size: rem-calc(16);
        }
    }
    #inteligencia {
        // p, h2 {text-align: center;}
        img {margin-bottom: 3em;}
        blockquote {font-size: rem-calc(14);}
    }
}
// Medium screen
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    #slider {
        padding: 9em 0 5em;
        h1 {
            line-height: 1.3;
            font-size: rem-calc(45);
        }
        p {
            margin: 0;
            font-size: rem-calc(18);
            margin-bottom: 1em;
        }
        .button {
            font-size: rem-calc(16);
        }
    }
}

// Frame = 1195 + 475 = 1670
// Handlebar = 295 + 134 + 56 = 485
// Grupo = 619 + 390 + 737 + 90 + 88 + 230 + 276 + 265 + 310 = 2967
// Ruedas = 1670 + 100 + 590 = 2360
// Total = 7482
